{% extends '_skeleton.jinja' %}

{% block predict %}
    uint8_t votes[{{ n_classes }}] = { 0 };
    float weights[{{ weights | length }}] = { {{ weights | join(', ') }} };

    {% for k, tree in f.enumerate(trees) %}
        {% with i = 0 %}
            // tree #{{ k + 1 }}
            {% include 'adaboost/tree.jinja' %}
        {% endwith %}
    {% endfor %}

    {% include 'vote.jinja' %}
{% endblock %}